<h1>Lorem ipsum</h1>
<a href="verify_card"><button type="button" class="btn">Change card</button></a>
<br/><br/>
<div style="max-width: 647px;">
  <p>
    <img src="https://picsum.photos/600/300" width="600" height="300" />
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum erat neque, ut molestie mauris aliquet at. Nunc gravida felis leo, in varius ipsum facilisis ut. Suspendisse in pellentesque ipsum, sed cursus nisl. Sed vitae maximus est, a malesuada velit. Curabitur consectetur cursus diam, ut viverra mauris ullamcorper eu. Proin at ornare sem. Fusce imperdiet metus nec ligula hendrerit mattis. Quisque ullamcorper tortor dignissim nisi suscipit, eget hendrerit turpis accumsan. Aenean blandit non neque ultricies semper. Quisque vel magna nec diam fermentum ultricies. Phasellus magna mi, blandit eu sem sit amet, rutrum sollicitudin lectus. In lobortis consequat tristique.
  </p>
</div>
<% if pending %>
  <h4>Your payment is not completed. We'll notify you by email when the purchase is complete.</h4>
<% else %>
  <div style="max-width: 647px;">
    <p>
      Sed ac dui luctus, dictum justo id, consequat ligula. Maecenas facilisis non lacus ac sollicitudin. Integer cursus sem eu nulla laoreet, vel vulputate mi rhoncus. Pellentesque tempus ipsum massa, a varius nunc vulputate a. Cras molestie lectus quis bibendum fermentum. Ut cursus vehicula odio sed ultricies. Maecenas fringilla quam ac massa luctus, ut feugiat ante pretium. Nullam eget libero pretium, imperdiet erat vel, dictum quam. Morbi sit amet sollicitudin augue, nec cursus velit. Phasellus feugiat tellus eget nulla suscipit rhoncus. Suspendisse quis nibh tristique, porttitor eros quis, scelerisque orci. Sed quam massa, fermentum eu congue vitae, vestibulum eget velit. Fusce placerat ultrices augue, ut congue tellus. Praesent non libero leo.
    </p>
    <p>
      Cras in mauris posuere, eleifend urna sit amet, tempor lorem. Vivamus condimentum quis lacus ac pretium. Curabitur nec libero orci. Duis semper eros vitae risus fringilla dignissim. Suspendisse lorem massa, tempus quis elit ut, interdum posuere lectus. Maecenas dictum bibendum est vel elementum. In eleifend dui ut nunc porttitor, eget ultrices ex vestibulum. Fusce sollicitudin lobortis volutpat. Mauris egestas ex purus, ac hendrerit dolor aliquam rhoncus. Suspendisse in nisl mollis nibh imperdiet finibus non at quam.
    </p>
    <p>
      Nunc quis erat eu ante commodo efficitur. Aenean ultrices, ligula ut lobortis efficitur, libero nulla congue nibh, at rutrum leo sem nec felis. Quisque varius mauris orci, efficitur hendrerit neque ultrices quis. Suspendisse ultrices aliquet velit mattis vulputate. Maecenas mollis erat et dolor lacinia, ut consectetur magna maximus. Nunc molestie gravida commodo. Praesent congue elementum leo. In ullamcorper, lacus facilisis dapibus sollicitudin, ante ligula lacinia tellus, sed pharetra nunc nulla eget risus.
    </p>
    <p>
      <img src="https://picsum.photos/600/300" width="600" height="300" />
    </p>
    <p>
      Fusce accumsan nisi quis dui finibus laoreet ac eget diam. Sed sed facilisis ante, et rhoncus massa. Praesent tempor et magna a ullamcorper. Mauris ultricies pulvinar augue, in elementum tellus eleifend lacinia. Nulla facilisi. Aliquam erat volutpat. Curabitur tincidunt nulla sed lobortis lacinia. Pellentesque vehicula felis quis elit tincidunt sollicitudin. Integer a fermentum nisi, et convallis risus. Pellentesque volutpat metus lectus, a volutpat risus eleifend quis.
    </p>
    <p>
      Sed eleifend erat turpis, porta vestibulum magna egestas in. Nam venenatis, velit id lacinia egestas, nunc tortor facilisis ex, sit amet scelerisque ante elit ac lacus. Praesent libero nunc, interdum at sodales vel, consequat semper risus. Proin consectetur, diam eget porta tristique, justo eros convallis risus, porttitor sollicitudin enim tortor ac felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tristique eros, non lacinia ex. Quisque dui odio, auctor vitae molestie id, ultrices id massa. Duis eleifend diam ex, a viverra tellus imperdiet quis. Fusce euismod sapien risus, a sodales neque fringilla in. Mauris scelerisque est ut leo aliquet laoreet. Etiam molestie eu justo tincidunt lobortis. Nulla ultrices, orci ac ullamcorper tristique, dui lorem viverra justo, eu rutrum est ante at dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis vitae commodo dolor. Mauris eu lacus non orci pharetra faucibus eget a arcu.
    </p>
    <p>
      Vestibulum malesuada consequat finibus. Quisque ac dolor metus. Aenean placerat rutrum urna nec fringilla. Pellentesque in nunc ac elit tincidunt ultrices sit amet eget neque. Mauris vulputate arcu metus, nec ultricies est sagittis in. Pellentesque nisi tortor, convallis vitae placerat eget, tincidunt ut tellus. Aenean eu facilisis dolor. Nunc pulvinar felis ac nibh mattis, in pellentesque justo mattis. Phasellus rhoncus metus arcu, a lobortis purus aliquam eget.
    </p>
    <p>
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce a ex urna. Donec facilisis, augue nec ornare ultrices, metus ipsum vehicula sem, non posuere odio arcu vitae leo. In consectetur molestie massa, non volutpat nisi dictum vel. Nulla facilisi. Suspendisse neque sapien, pellentesque ac ante at, scelerisque elementum sapien. Proin molestie sollicitudin eleifend. Donec accumsan, tellus eu pretium convallis, tellus augue bibendum arcu, sit amet malesuada ligula ligula ut enim. Quisque porttitor ut libero pretium mollis. Aenean imperdiet lacinia suscipit. Sed dapibus pretium sapien.
    </p>
    <p>
      <img src="https://picsum.photos/600/300" width="600" height="300" />
    </p>
    <p>
      Duis et tellus velit. Integer mi diam, porta vitae elit eget, interdum porta mauris. Proin sed pharetra ipsum. Integer varius interdum ante, ac volutpat urna ultrices in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam auctor dui ut lectus porttitor blandit. Quisque consectetur, ante id luctus aliquam, purus tellus congue metus, nec bibendum mi neque ut sapien. Fusce consectetur arcu neque. Donec vehicula pellentesque sem vel gravida. Suspendisse sed velit nunc. Nam eu justo mollis, laoreet mauris facilisis, venenatis ante. Nullam faucibus vestibulum lacinia. Mauris finibus venenatis tellus non dictum.
    </p>
    <p>
      Pellentesque ac dictum justo, quis volutpat sapien. Quisque a dapibus libero. Duis a ultricies enim, ut maximus neque. Maecenas feugiat purus nec tortor vulputate, elementum aliquet sem rhoncus. Donec turpis nibh, porttitor eu rhoncus eu, feugiat id quam. Sed posuere tortor vitae gravida malesuada. Duis cursus mattis augue, ac vehicula lorem malesuada vel. Aliquam vel quam id arcu molestie volutpat id non ex. Donec sodales mollis quam sit amet dapibus. Integer tempor dolor efficitur est gravida condimentum. Suspendisse vestibulum lorem vitae lacinia laoreet. Sed imperdiet diam a velit blandit, sit amet porttitor mi ornare. Mauris iaculis eget quam quis mattis. Quisque non ante in diam ultricies pulvinar. Fusce sed eros quis nibh gravida laoreet. In elementum quam sed erat egestas, eu sagittis ante bibendum.
    </p>
  </div>
<% end %>