<div style="max-width: 647px;">
  <h1>An error has occured</h1>
  <h4>Please check logs, try again or contact support</h4>
  <%if flash[:error] %>
    <p>
      Message: <%=flash[:error] %>
    </p>
  <%end %>
  <%if message %>
    <p>
      Message: <%=message %>
    </p>
  <%end %>
  <br />
  <br />
  <a href="/" class="btn btn-info">Go back</a>
</div>
