<br />
<br />
<a href="/teaser">
  <div><img src="https://picsum.photos/600/300" width="600" height="300" /></div>
  <h2>Lorem ipsum</h2>
  <% if identity %>
    Click to read this article
  <% else %>
    Click to buy this article <u>with identity (requires login)</u>
  <% end %>
</a>
<br />
<br />
<br />
<a href="/purchase_without_account">
  <div><img src="https://picsum.photos/600/300" width="600" height="300" /></div>
  <h2>Lorem ipsum</h2>
  <% if identity %>
    Click to read this article
  <% else %>
    Click to buy this article <u>without identity (no login required)</u>
  <% end %>
</a>

<br />
<br />
<br />
<a href="/gift">
  <div><img src="https://picsum.photos/600/300" width="600" height="300" /></div>
  <h2>Lorem ipsum</h2>
  <% if identity %>
    Click to read this article
  <% else %>
    Click to buy this article <u>as a gift</u>
  <% end %>
</a>