<!-- START Adyen js and css. Please refer to Adyen docs for correct and current versions for test and live.-->
<script src="<%= javascript_uri %>"
        integrity="<%= javascript_uri_integrity %>"
        crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="<%= css_uri %>"
      integrity="<%= css_uri_integrity %>"
      crossorigin="anonymous"><!--END-->

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<h1>Lorem ipsum</h1>
<div style="max-width: 647px;">
  <p>
    <img src="https://picsum.photos/600/300" width="600" height="300" />
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum erat neque, ut molestie mauris aliquet at. Nunc gravida felis leo, in varius ipsum facilisis ut. Suspendisse in pellentesque ipsum, sed cursus nisl. Sed vitae maximus est, a malesuada velit. Curabitur consectetur cursus diam, ut viverra mauris ullamcorper eu. Proin at ornare sem. Fusce imperdiet metus nec ligula hendrerit mattis. Quisque ullamcorper tortor dignissim nisi suscipit, eget hendrerit turpis accumsan. Aenean blandit non neque ultricies semper. Quisque vel magna nec diam fermentum ultricies. Phasellus magna mi, blandit eu sem sit amet, rutrum sollicitudin lectus. In lobortis consequat tristique.
  </p>
</div>
<h3>To read the article, please fill out the form</h3>
<h4>Check if this is a voucher purchase: <input type="checkbox" id="voucherPurchase" /></h4>
<div id="response-container" class="alert alert-info hidden"></div>
<div style="max-width: 647px;" id="dropin"></div>
<script type="text/javascript">
    const configuration = {
        locale: '<%= locale %>',
        environment: "test",
        originKey: '<%= origin_key %>',
        clientKey: '<%= client_key %>',
        paymentMethodsResponse: <%= payment_methods %>,
        paymentMethodsConfiguration: {
            card: { // Example optional configuration for Cards
                hasHolderName: true,
                holderNameRequired: true,
                enableStoreDetails: true,
                hideCVC: false, // Change this to true to hide the CVC field for stored cards
                name: 'Credit or debit card'
            }
        },
        onSubmit: (state, dropin) => {
            //Here we need to disable the buy button since Adyen does it a bit late and customer could potentially generate duplicates
            $(".adyen-checkout__button--pay").attr("disabled", "disabled");

            let payload = {
                colorDepth: screen.colorDepth,
                screenHeight: screen.height,
                screenWidth: screen.width,
                timeZoneOffset: (new Date().getTimezoneOffset() / 60),
                javaEnabled: window.navigator.javaEnabled(),
                stateData: state.data,
                voucherPurchase: document.querySelector('#voucherPurchase').checked
            };
            $.post('/teaser', payload)
                .then(data => {
                    let response = JSON.parse(data);
                    switch(response.status) {
                        case 'action_required':
                            dropin.handleAction(response.action);
                            break;
                        case 'complete':
                            window.location.href = '/article';
                            break;
                        default:
                            throw Error('status not supported');
                    }
                })
                .catch(error => {
                    throw Error(error);
                });
        },
        /*********************************************************************
         * * onAdditionalDetails(state, dropin)	Called when a payment method requires more details. <Required>
         */
        onAdditionalDetails: (state, dropin) => {
            $.post('/additional_action', state.data)
                .then(data => {
                    response = JSON.parse(data);
                    switch(response.status) {
                        case 'action_required':
                            dropin.handleAction(response.action);
                            break;
                        case 'complete':
                            window.location.href = '/article';
                            break;
                        default:
                            throw Error('status not supported');
                    }
                })
                .catch(error => {
                    throw Error(error);
                });
        },
        /*********************************************************************
         * * onSelect(component)	Called when the shopper selects a payment method. <Optional>
         */
        onSelect: (component) => {},
        /*********************************************************************
         * * onReady()	Called when Drop-in is initialized and is ready for use. <Optional>
         */
        onReady: () => {},
        /*********************************************************************
         * * onError(error)	Called when an error occurs in Drop-in. <Optional>
         */
        onError: (error) => {}
    };
    AdyenCheckout(configuration).then((checkout) => {
        checkout.create('dropin', {
            onReady: () => {
                $(document).ready(function() {
                });
            }
        }).mount('#dropin');
    });
</script>