<!-- START Adyen js and css. Please refer to Adyen docs for correct and current versions for test and live.-->
<script src="<%= javascript_uri %>"
        integrity="<%= javascript_uri_integrity %>"
        crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="<%= css_uri %>"
      integrity="<%= css_uri_integrity %>"
      crossorigin="anonymous"><!--END-->
<!--END-->

<h3>Verify card</h3>
<div id="response-container" class="alert alert-info hidden"></div>
<div style="max-width: 647px;" id="dropin"></div>
<script type="text/javascript">
    const configuration = {
        locale: '<%= locale %>',
        environment: "test",
        originKey: '<%= origin_key %>',
        clientKey: '<%= client_key %>',
        paymentMethodsResponse: <%= payment_methods %>,
        paymentMethodsConfiguration: {
            card: { // Example optional configuration for Cards
                hasHolderName: true,
                holderNameRequired: true,
                enableStoreDetails: true,
                hideCVC: false, // Change this to true to hide the CVC field for stored cards
                name: 'Credit or debit card'
            }
        },
        onSubmit: (state, dropin) => {
            let payload = {
                colorDepth: screen.colorDepth,
                screenHeight: screen.height,
                screenWidth: screen.width,
                timeZoneOffset: (new Date().getTimezoneOffset() / 60),
                javaEnabled: window.navigator.javaEnabled(),
                stateData: state.data
            };
            $.post('/verify_card', payload)
                .then(data => {
                    let response = JSON.parse(data);
                    switch(response.status) {
                        case 'action_required':
                            dropin.handleAction(response.action);
                            break;
                        case 'complete':
                            window.location.href = '/article';
                            break;
                        default:
                            throw Error('status not supported');
                    }
                })
                .catch(error => {
                    throw Error(error);
                });
        },
        /*********************************************************************
         * * onAdditionalDetails(state, dropin)	Called when a payment method requires more details. <Required>
         */
        onAdditionalDetails: (state, dropin) => {
            $.post('/additional_action', state.data)
                .then(data => {
                    response = JSON.parse(data);
                    switch(response.status) {
                        case 'action_required':
                            dropin.handleAction(response.action);
                            break;
                        case 'complete':
                            window.location.href = '/article';
                            break;
                        default:
                            throw Error('status not supported');
                    }
                })
                .catch(error => {
                    throw Error(error);
                });
        },
        /*********************************************************************
         * * onSelect(component)	Called when the shopper selects a payment method. <Optional>
         */
        onSelect: (component) => {},
        /*********************************************************************
         * * onReady()	Called when Drop-in is initialized and is ready for use. <Optional>
         */
        onReady: () => {},
        /*********************************************************************
         * * onError(error)	Called when an error occurs in Drop-in. <Optional>
         */
        onError: (error) => {}
    };
    AdyenCheckout(configuration).then((checkout) => {
        checkout.create('dropin', {
            onReady: () => {
                $(document).ready(function() {
                });
            }
        }).mount('#dropin');
    });
</script>